input,
select {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 15rem;
}

button {
    padding: 0.5rem;
    margin: 0 0.5rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: lightgrey;
}